html{
	background: url(Material/фон.jpg) no-repeat;
	background-size: 100%;



}
h1{
	font-family: arial;
	color: lightgreen;


}
main, p{
	font-size: medium;
	color: orangered;


}
header{
	




}
.footer{



}